<section class="footer">
  <p><a href="https://rocky-chamber-57807.herokuapp.com/">Link naar mijn Heroku website</a></p>
</section>


  <script src="https://use.typekit.net/xif5hiw.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <script src="/js/template.js"></script>
  </body>
</html>
